{% extends 'account/body/base.html' %}
{% load static %}
{% load crispy_forms_tags  %}

{% block title %} Product Info {% endblock %}

{% block page__header %} Product Info {% endblock %}

{% block page %}
    <img src="{{ MEDIA_URL }}{{ product.image }}" width="500" height="500" alt="Product Image">
    <div class="card-body">
        <h5 class="card-title">{{ product.name }}</h5>
        <p class="card-text">{{ product.short_description }}</p>
        <p class="card-subtitle mb-2 text-muted">{{ product.price }}</p>
        <p class="card-text">Выложил: {{ product.user }} {% if not request.user == product.user %}<a href="#"><span class="badge badge-secondary">Написать</span></a>{% endif %}</p>
        <a href="/order/new/{{ product.user.id }}/{{ product.id }}"><button class="btn btn-success">Добавить заказ</button></a>
    </div>
{% endblock %}